/*NavBar*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid-fix {
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar .container-fluid>.navbar-header {
    float: left;
}
.navbar-inverse {
    background-color: #F8F8F8;
    border: none;
}
.navbar .navbar-nav {
    float: left;
    margin: 0;
}
.nav>li {
    float: left;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 40rem;
    padding: 15px;
    width: 55rem;
    position: absolute;
    top: -7rem;
    left: -2.8rem;
}

/*NoteEdition*/
.editionNotesControl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-self: stretch;
    padding: 0.2rem;
    border-radius: 0.7rem;
    position: relative;    
    width: 93.7%;
}

.editionButtonControls:hover {
    background-color: #F5A9D0;
    color: #FF7138;
    border: none;
}
.editionButtonControls {
    margin: 0.4rem;
}
.editionTextControl {
    font-size: 1.4rem;
    font-family:'Love Ya Like A Sister', cursive;
}
.form-control:focus {
    border-color: #ccc;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 188, 134, 1)
}
.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
    margin-top: 0.7rem; 
}
.noteText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    border-radius: 0.7rem;
}
.noteContentFont {
    font-family: 'Yantramanav', sans-serif;
    font-family: 'Fanwood Text', serif;
    font-size: 1.7rem;
}
textarea.form-control {
    height: 75vh;
}
.titleNoteControl {
    border: none;
    outline: none;
    color: #FF7138;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.8rem;
    align-self: stretch;
}
.titleNoteControl:hover {
    border: none;
    outline: none;
    color: #FF7138;
    font-size: 2.7rem;
    transition: font-size 1s;
    flex: 0 1 auto;
    align-self: stretch;
}
.titleNoteControl:focus {
    color: #FF7138;
    font-size: 2.7rem;
}
.textButtons{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

/*Notes*/
.infoPanelElements
{
    align-self: stretch;
    margin-right: 1rem;
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
}
.borderStyle
{
    background: #F8F8F8;
    margin-bottom: 1rem;
    border: 0.2rem solid #E7E7E7;  
}
.noteAddedTitle {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    flex: 1 1 auto;
    width:5rem;
    overflow: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.infoPanelButtons {
    margin-right: 1rem;
    display: inline;
}
.hideComponent {
    display: none;
    opacity: 0;
}
.showComponent {
    display: block;
    opacity: 1;
}
.noteContentFont {
    font-family: 'Yantramanav', sans-serif;
    font-family: 'Fanwood Text', serif;
    font-size: 2rem;
}
.showNoteAnimation
{
    background-color: white;
    margin-bottom: 0rem;
    max-height: 25vh;
    overflow: auto;
    margin-right: 0rem;
    margin-top: 0.9rem;
    animation: fade 1s;
    border-top: 0.2rem solid #E7E7E7;
    padding-left:1rem;
}
.containerOfElements {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1.3rem 1rem;
    overflow: auto;
}
.headerNoteContainer{
    display: flex;
    flex-direction: row;
    height: 5rem;
}
.editionButtonControls:hover {
    background-color: #F5A9D0;
    color: #FF7138;
    border: none;
}
.editionButtonControls {
    margin: 0.4rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*MenuBottons*/
a {
    text-decoration: none ;
    color:black;
}
a:hover
{
    color:black;
    text-decoration:none;
    cursor:pointer;
}

a:active{
    color:black;
}
.buttons {
    background-color: transparent;
    border: none;
    display:inline;
}

h2{
    display:inline;
}

.buttons:hover {
    background-color: #F6CED8;
}
.buttons:focus {
    border: none;
    outline: none;
    background-color: #F5A9D0;
}

.buttonFontHidden {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 0.8em;
    margin-left: 0rem;
    pointer-events: none;
}
.hiddenButtons {
    background-color: #F8F8F8;
    display: none;
    height: 5vh;
    text-align: center;
}
.showInlineControl {
    display: inline-block;
}
.hideControl {
    display: none;
}
.showBlockControl {
    display: block;
}

.visibleControl
{
    visibility:visible;
    display:inline-block;
}

.invisibleControl
{
    visibility:hidden;
    display:none;
}

.inlineContainer {
    display: inline;
}

.navBar__hiddenImages {
    width: 1.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
    pointer-events: none;
    margin-top: 0.7rem; 
}
.navElementSpanVisible {
    display: none;
    visibility: hidden;
}

.navBar__button {
    width: 4rem;
    padding-bottom: 2rem;
    height: 5rem;
    margin-right: 0.2rem;
    display: inline-block;
}

.displayType
{
    display: inline;
}

/*Main*/
.secondElement{
    height: 10vh;
    margin-left: 2vw;
}
.firstElement{
    padding-left: 0;
    margin-left:-2vw;
}

.thirdElement{
    padding-right: 0;
}

ul#listInformationPanel {
    list-style-type: none;
}

/*EditionBar*/
.editionBar__nav {
    background-color: #F8F8F8;
    border: 0.2rem solid #E7E7E7;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 85vh;
    padding-left: 0;
}
.editionBar__button {
    display: block;
    padding: 1rem 2rem 1rem 2rem;
}
.editionBar__button:focus {
    border: none;
    outline: none;
}
.editionBar__button:first-child {
    padding-top: 1rem;
}
.editionBar__button:last-child {
    padding-bottom: 1rem;
}
.editionBar__span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 5s;
}

.hiddenControl {
    display: none;
    visibility: hidden;
}
.showControl{
    display:block;
    visibility: visible;
}
.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
        margin-top: 0.7rem; 
}



/*NUEVOS ELEMENTOS**/

.generalContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start; 
}

.menu{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.contentPanel{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.centralPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    margin-left: 3rem;
}

.addNoteContainer{
    order: 0;
    flex: 2 1 auto;
    align-self: auto;
    margin-top: 1.3rem;
}


.thirthElement{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

ul {
    list-style-type: none;

}

.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 97.8vh;
    overflow: auto;
}

li a {
    display: block;
    background-color: #F6CED8;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: #F6CED8;
    color: white;
        text-align: center;
}

li a:hover:not(.active) {
    background-color: #F6CED8;
    color: #FF7138;
        text-align: center;
}

textarea.form-control {
    height: 81.4vh;
    width: 93%;
}

.infoPanel {
    background-color: transparent;
    height: 85vh;
    border: 0.2rem solid #DDD;
    display: -ms-flexbox;
    flex-direction: column;
    padding-left: 1.8rem;
    overflow: auto;
    margin-right: 2rem;
    border: 0.09rem solid #DDD;
    height: 95vh;
}


h2{
    font-family: 'Love Ya Like A Sister', cursive;
    color: #FF7138;
    font-weight: 500;
    font-size: 1.8rem;
}


.saveButton {
    background-color: transparent;
    border: none;
    display: block;
    border: 0.1rem solid #FF7138;
    color: #FF7138;
    height: 1.6rem;
    font-family: 'Love Ya Like A Sister', cursive;
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
    padding-bottom: 1.7rem;
}

.navBarTitle{
    color: #FF7138;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1rem;

}